@import "tailwindcss";

:root {
  --background: #1a1a1a; /* Negro profundo */
  --foreground: #ffffff; /* Blanco */
  --primary: #f05a00; /* Naranja industrial */
  --primary-hover: #ff6a00; /* Naranja más brillante */
  --secondary-light: #e5e5e5; /* Gris claro */
  --secondary-medium: #9a9a9a; /* Gris medio */
  --secondary-dark: #3a3a3a; /* Gris oscuro / grafito */
  --accent-yellow: #c98a2e; /* Amarillo cuero */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  button {
    background-color: var(--primary);
    color: var(--foreground);
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: var(--primary-hover);
  }

  input,
  select {
    border-color: var(--secondary-medium);
    background-color: var(--secondary-light);
    color: var(--secondary-dark);
  }

  input:focus,
  select:focus {
    border-color: var(--primary);
    outline: none;
  }
}
